.navbar-nav > li {
    float: left;
    position: relative;
  }

  .navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #5bc0eb;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
  }

  .navigation-style {
      padding-right: 12px; 
  }

  .margin {
    top: 10px;
    cursor: pointer;
  }

  .active {
      border-bottom: 2px solid #3f6eba;
  }

  .horizontal-line {
      border: 1px solid #eaeff7;
      margin-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
  }